.chinh{
    background-color: #00aa88;width: 1000px;
    height: 500px;
    margin: auto;
}
.chuto{
    font-size: 30px;
    text-align: center;
}
.chunho{
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.hinh1{
    background-color: #ec971f;
    height: 150px;
}
.hinh2{
    background-color: #d5d5d5;
    height: 150px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;

}
p{
    margin-top: 10px;
    margin-left: 10px;
}