.chinh{
    width: 1000px;
}
.bang{

    background-color: #00aa88;
    font-size: 30px;
    padding: 250px 30px 250px 30px;
}
.dau{
    font-size: 25px;
}
.indam{
    background-color:#00aa88;
}
.check{
    margin-top: 10px;
    margin-bottom: 10px;
}
.lead{
    margin-top: 330px;
}