*{
    margin: 0;
    padding: 0;
    line-height: 2;

}

.body{
    margin: auto;
    letter-spacing: 0.8px;
    font-family: Nunito,sans-serif;
    box-sizing: border-box;
    color: #204d74;
}
.container{
    width: auto;
    margin: auto;
    height:auto;
}
.header{
    margin-top: 30px;
}
.photo-1{
    margin-left: 70%;
}
.under-1{
    z-index: 9;
    padding: 0 10%;
    color: #204d74;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.under-2{
    padding: 0 30px;
    z-index: 1;
    color: #204d74;
    font-weight: bold;
    font-size: 14px;
    float: right;
    display: flex;
}
.under-2-1{
    padding-top: 5px;
    margin-right: 20px;
}
.under-2-2{
    background-color: #FFFFFF;
    padding-top: 5px;
    text-align: center;
    margin: auto;
    width: 100px;
    height: 30px;
    color: red;
    box-shadow: 1px 1px 4px -1px #122b40;
}
.photo-2{
    position: absolute;
    top: 20px;
    right: 0;
    width: 600px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../photo/photo-2.png");
    z-index: -1;
    background-position: right;
}
.photo-3{
    z-index: -1;
    position: absolute;
    top: 160px;
    right: 0;
    width: 700px;
    height: 464px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../photo/thuctap1.png");
}
.under-3{
    background-color: #FFFFFF;
    z-index: 9;
    margin-top: 205px;
}
.under-3-1{
    color: #204d74;
    line-height: 1.25;
    margin-bottom: 20px;
    font-size: 70px;
}
.under-3-2{
    margin-top: 35px;
}
.under-3-2-1{
    padding: 10px 20px;
    background-color: red;
    color: #FFFFFF;
    border-radius: 15px 15px;
    margin-right: 20px;
}
.under-3-2-2{
    color: #204d74;
    font-weight: bold;
}
.under-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #FFFFFF;
    z-index: 9;
    margin-top: 200px;
}
.under-4-0{
    padding: 45px 16px;
}
.under-4-1{
    background-color: #FFFFFF;
    color: #204d74;
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 20px;
}
.under-4-2{
    padding: 10px 20px;
    background-color: red;
    color: #FFFFFF;
    border-radius: 15px 15px;
    margin-right: 20px;
}
.under-4-3{
    background-color: #FFFFFF;
    box-shadow: 0 3px 0 1px #999999;
    padding: 20px;
}
.under-4-3-2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #204d74;
}
.under-4-3-3{
    color: #204d74;
}

.photo-4{
    z-index: -1;
    position: absolute;
    top: 900px;
    left: 0;
    width: 600px;
    height: 600px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../photo/photo-4.png");
}
.photo-5{
    z-index: -1;
    position: absolute;
    top: 900px;
    right: 0;
    width: 600px;
    height: 600px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../photo/photo-5.png");
}
img{
    max-width: 100%;
}
.under-5 {
    background-color: unset;
    max-width: 100%;
    z-index: -1;
    margin-left: 40px;
}
.under-6{
    margin-top: 10px;
    background-color: #FFFFFF;
    z-index: 9;
    float: right;
    padding: 15px 16px 15px 65px;
}
.under-6-1{
    color: red;
    font-weight: bold;
}
.under-6-2{
    margin-top: 20px;
    color: #204d74;
    font-weight: bold;
    font-size: 37px;
}
.under-6-3{
    margin-bottom: 40px;
    color: #204d74;
    font-weight: bold;
    font-size: 37px;
}
.under-6-5-1{
    font-size: 25px;
    color: #999999;
}
.under-6-5-2{
    margin-right: 20px;
    font-size: 25px;
}

.under-7{
    z-index: 9;
}
.under-7-1{
    color: #204d74;
    font-size: 35px;
    font-weight: bold;
}
.under-8{
    padding-right: 16px;
    z-index: 9;
    margin-top: 55px;
}
.under-8-1{
    color: #999999;
    font-size: 25px;
    float: right;
    padding-left: 10px;
}
.under-8-2{
    padding: 0 16px 0 0;
    padding-right: 12px;
    font-size: 25px;
    float: right;
}
.under-9{
    background-color: #FFFFFF;
    z-index: 9;
}
.col-md-9{
    padding-right: 0;
}
.under-9-1{
    margin-top: 20px;
    padding: 100px 50px;
    background-color: #999999;
}
.photo-6{
    z-index: -1;
    position:absolute;
    top: 1850px;
    left: 0;
    width: 800px;
    height: 600px;
    background-position: left ;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../photo/photo-5.png");
}
.under-10{
    z-index: 9;
    margin-top: 30px;
    padding-left: 140px;
    text-align: center;
    color: red;
}
.under-11{
    z-index: 9;
    margin-top: 100px;
    padding: 0 0 0 8%;
}
.under-11-1{
    color: red;
}
.under-11-2{
    font-weight: bold;
    color: #204d74;
    font-size: 35px;
}
.under-11-2{
    margin-top: 15px;
}
.under-12{
    padding-right: 16px;
    z-index: 9;
    margin-top: 75px;
}
.under-12-1{
    float: right;
    font-size: 25px;
    color: #999999;
}
.under-12-2{
    margin-right: 15px;
    float: right;
    font-size: 25px;
}
.under-13{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 9;
    margin-top: 30px;
    padding: 0 0 0 4%;
}
.under-13-1{
}

.item-1{
    box-shadow: 1px 1px 1px 1px silver;
    background-color: red;
    padding: 45px 16px;
}
.item-2{
    color: #204d74;
    box-shadow: 1px 1px 1px 1px silver;
    background-color: #FFFFFF;
    padding: 45px 16px;
}
.under-13-1-1{
    margin-bottom: 30px;
}
.under-13-1-2{
    color: black;
    margin-bottom: 40px;
}
.under-13-1-3{
    margin-bottom: 20px;
}
.under-13-1-4{
    margin-bottom: 20px;
    float: right;color: #FFFFFF;
    font-size: 25px;
}
.under-13-1-5{
    margin-bottom: 20px;
    color: red;
    float: right;
    font-size: 25px;
}
.under-14{
    z-index: 9;
    margin-top: 150px;
    padding: 0 0 0 7%;
}
.under-14-1{
    font-weight: bold;
    color: red;
}
.under-14-2{
    font-size: 35px;
    color: #204d74;
    font-weight: bold;
}
.under-15{
    z-index: 9;
    padding: 0 0 0 4%;
}
.under-15-1{
    border: none;
    padding: 0 0 0 15px;
    background-color: #d9edf7;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
.under-15-2{
    padding: 0 0 0 4%;
    text-align: center;
}
.under-15-3{
    padding: 10px 20px;
    background-color: red;
    color: #FFFFFF;
    border-radius: 15px 15px;
    margin-right: 20px;
}
.photo-7{
    z-index: -1;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 2600px;
    right: 0;
    background-image: url("../photo/photo-7.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right ;
}

.fooder{
    height: auto;
    background-color: #204d74;
    margin-top: 30px;
}
.under-16{
    text-align: center;
    color: #FFFFFF;
    padding: 0 0 0 4%;
}
.under-16-1{
    color: #FFFFFF;
}
.under-16-3-2{
    color: #FFFFFF;
}

.under-16-3-2:hover{
    text-decoration: none;
    color:#FFFFFF;
}

.under-16-2{
    font-size: 33px;
    color: red;
    font-weight: bold;
}
.under-16-3{
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 280px;
}
.under-16-3-1{
    color: #FFFFFF;
}
.under-16-4{
    margin-bottom: 20px;
    margin-top: 20px;

}
.under-16-5{
    padding: 0 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ok1{
    color: #FFFFFF;
}
.ok1:hover{
    color: #FFFFFF;
}

.under-16-6{
    color: #FFFFFF;
    font-size: 30px;
}


.under-17{
    z-index: 9;
    padding: 0 32%;
    color: #204d74;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.qunder-5{
    max-width: 100%;
    z-index: -1;
    position:absolute;
    top: 33px;
    left: 1px;
    width: 581px;
    height: 377px;
    background-position: left ;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../photo/denhoc.png");
}




@media(max-width: 700px){
    .photo-2{
        width: 3px;
    }
    .photo-3{
        width: 3px;
    }
    .photo-4{
        width: 3px
    }
    .photo-5{
        width: 3px
    }
    .photo-6{
        width: 3px
    }
}

@media(max-width:200px)  {
    .under-5{
        width: 5px;
        height: 5px;
    }
}