*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}

.main1{
    display: flex;
    flex-wrap: wrap;
    background-color: #1b6d85;
    justify-content: space-around;
}
.item{
    color: #FFFFFF;
    width: 30%;
    margin: 10px;
}

.title{
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 3%;
}
.ul{
    margin-left: 9%;
}
.icon{
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 %;
}

.icon1{
    padding: 0 10%;
    width: 22%;
    text-align: center;
    line-height: 2;

}
.icon1-1{
    padding: 15px;
    font-size: 16px;
    background-color: #2aabd2;
}
.icon1-1:hover{
    color: #FFFFFF;
}

.icon1-2{
    padding: 15px;
    font-size: 16px;
    background-color: #c7254e;
}
.icon1-2:hover{
    color: #FFFFFF;
}
.icon1-3{
    padding: 15px;
    font-size: 16px;
    background-color: #00b3ee;
}
.icon1-3:hover{
    color: #FFFFFF;
}
.icon1-4{
    padding: 15px;
    font-size: 16px;
    background-color: #c7254e;
}
.icon1-4:hover{
    color: #FFFFFF;
}
 .column{
     border-bottom: 1px solid #FFFFFF;
     width: 99%;
 }
 .end{
     color: #FFFFFF;
     text-align: center;
     padding: 2%;
     background-color:#1b6d85;
 }